<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Telefones</title>
    <th:block th:insert="~{head}"></th:block>
</head>

<body>
<div th:replace="~{navbar}"></div>

<div class="container mx-auto">
    <div class="mb-3">
        <a class="btn btn-primary" href="/cadastro-pessoa">Voltar para o cadastro de pessoas</a>
    </div>

    <div class="alert alert-danger d-inline-block" role="alert" th:each="messageError : ${messageErrors}">
        <span class="error-message" th:text="${messageError}"></span>
    </div>

    <div class="row mb-5">
        <h3>Usuário: </h3>
        <div th:each="pessoa : ${pessoa}">
            <div class="row">
                <p>ID: <span th:text="${pessoa.id}"></span></p>
                <p>Nome: <span th:text="${pessoa.nome}"></span></p>
                <p>Sobrenome: <span th:text="${pessoa.sobrenome}"></span></p>
                <p>Idade: <span th:text="${pessoa.idade}"></span></p>
            </div>
        </div>
    </div>

    <form th:action="@{/adicionar-telefone-pessoa/{pessoaId}(pessoaId=${pessoa.id})}" id="formTelefone" method="post" onsubmit="return validarCampos()? true : false">
        <div class="row mb-3">
            <h3>Telefones:</h3>
            <div class="col">
                <label for="numero" class="form-label">Número</label>
                <input name="numero" class="form-control" id="numero" placeholder="Digite o número">
            </div>
            <div class="col">
                <label for="tipo" class="form-label">Tipo</label>
                <input name="tipo" class="form-control" id="tipo" placeholder="Fixo/Celular">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Adicionar Telefone">
            </div>
        </div>
    </form>

    <div class="mb-3" style="max-height: 300px; overflow-y: scroll;">
        <table class="table table-striped table-hover table-bordered" style="font-size: 14px; color: #333; background-color: #fff;">
            <thead class="table-dark">
            <tr>
                <th class="text-center">Fone</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Opção 1</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="telefone : ${telefones}">
                <td class="text-center" th:text="${telefone.numero}"></td>
                <td class="text-center" th:text="${telefone.tipo}"></td>
                <td class="text-center"><a class="btn btn-danger" th:href="@{/excluir-telefone/{telefoneId}(telefoneId=${telefone.id})}" onclick="return confirm('Tem certeza que deseja excluir esse telefone?')">Excluir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function validarCampos() {
        numero = document.getElementById('numero').value;
        tipo = document.getElementById('tipo').value;

        if (numero === '') {
            alert('O número do telefone deve ser informado!');
            return false;

        }else if (tipo === '') {
            alert('O tipo do telefone deve ser informado!');
            return false;
        }

        return true
    }

</script>
</body>
</html>